@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree&display=swap");

//Primary
$strongCyan: hsl(171, 66%, 44%);
$lightBlue: hsl(233, 100%, 69%);

//Neutral
$darkGrayishBlue: hsl(210, 10%, 33%);
$grayishBlue: hsl(201, 11%, 66%);

$FF: "Bai Jamjuree",
sans-serif;

$desktop: 700px;

body {
  background-image: url("./images/bg-header-mobile.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;

  @media screen and (min-width: $desktop) {
    background-image: url("./images/bg-header-desktop.png");
    background-size: 100%;
    font-size: 20px;
  }
}

.body {
  @media screen and (min-width: $desktop) {
    margin: 0 20% 0 20%;
  }
}

.main {
  font-family: $FF;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 25% 8% 8% 8%;

  p {
    color: $grayishBlue;
    margin: 0;
  }

  h2 {
    color: $darkGrayishBlue;
    margin: 20% 0 5% 0;
  }

  img {
    margin: 15% 0 5% 0;
  }

  span {
    display: block;
    height: 100px;
  }

  @media screen and (min-width: $desktop) {
    margin: 0;

    h2 {
      margin-top: 0;
    }

    #mainBoxOne {
      margin-top: 0;
      align-self: center;
      width: 70%;

      h2 {
        margin-bottom: 10px;
      }


    }

    .buttonContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 5%;
    }

    .computerContainer {
      display: flex;
      align-items: center;
      margin-top: 10%;
      font-size: 70%;


      .computerImage img {
        width: 125%;
        margin: 0;
        transform: translate(-50%, 0);

      }

      .textContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        transform: translate(-30%, 0);


        .text {
          margin-bottom: 10%;
          text-align: left;

        }
      }
    }

    .devicesImage {
      width: 100%;


      img {
        margin: 10% 0 0 0;
        width: 100%;
      }
    }

    .infoImages {
      display: flex;
      justify-content: space-around;


      .infoBlock {
        width: 30%;
      }
    }
  }

  .iosButton {
    background-color: $strongCyan;
    height: 50px;
    border-radius: 30px;
    box-shadow: 0 3px 0 lightgray;
    margin: 10% 0 5% 0;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      width: 100%;
      height: 100%;
      color: white;
      text-decoration: none;
    }

    @media screen and (min-width: $desktop) {
      margin: 0;
      width: 225px;
      font-size: 90%;
    }
  }

  .macButton {
    display: flex;
    flex-direction: column;
    background-color: $lightBlue;
    height: 50px;
    border-radius: 30px;
    box-shadow: 0 3px 0 lightgray;
    margin: 5% 0 5% 0;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      width: 100%;
      height: 100%;
      color: white;
      text-decoration: none;
    }

    @media screen and (min-width: $desktop) {
      margin: 0;
      width: 225px;
      font-size: 90%;
    }
  }

  .infoBlock {
    margin-top: 50px;

    h2 {
      margin: 0 0 15px 0;
    }

    p {
      margin: 0;
    }
  }
}

.imageList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 100px 0;

  img {
    margin: 30px 0 30px 0;
    width: 125px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.footerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    display: block;
    width: 50px;
    margin: 50px 0 30px 0;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    flex-grow: 1;

    img {
      margin: 0;

    }
  }
}

.ending {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  a {
    display: block;
    font-family: $FF;
    text-decoration: none;
    color: $darkGrayishBlue;
    margin: 10px 0 10px 0;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    text-align: left;
    flex-grow: 2;

    .endingLinks {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 100px;
      width: 100%;
    }

    a:hover {
      color: $strongCyan;
    }
  }
}

.social {
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 0;

  img {
    display: block;
    margin: 0 20px 0 20px;
  }

  @media screen and (min-width: $desktop) {
    flex-grow: 1;
  }
}

footer {
  margin: 100px 0 0 0;
  width: 100%;
  background-color: whitesmoke;
}

.footer {
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    height: 200px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 0;
  padding-bottom: 2%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}