@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree&display=swap");
body {
  background-image: url("./images/bg-header-mobile.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
}
@media screen and (min-width: 700px) {
  body {
    background-image: url("./images/bg-header-desktop.png");
    background-size: 100%;
    font-size: 20px;
  }
}

@media screen and (min-width: 700px) {
  .body {
    margin: 0 20% 0 20%;
  }
}

.main {
  font-family: "Bai Jamjuree", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 25% 8% 8% 8%;
}
.main p {
  color: #9fabb2;
  margin: 0;
}
.main h2 {
  color: #4c545d;
  margin: 20% 0 5% 0;
}
.main img {
  margin: 15% 0 5% 0;
}
.main span {
  display: block;
  height: 100px;
}
@media screen and (min-width: 700px) {
  .main {
    margin: 0;
  }
  .main h2 {
    margin-top: 0;
  }
  .main #mainBoxOne {
    margin-top: 0;
    align-self: center;
    width: 70%;
  }
  .main #mainBoxOne h2 {
    margin-bottom: 10px;
  }
  .main .buttonContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
  }
  .main .computerContainer {
    display: flex;
    align-items: center;
    margin-top: 10%;
    font-size: 70%;
  }
  .main .computerContainer .computerImage img {
    width: 125%;
    margin: 0;
    transform: translate(-50%, 0);
  }
  .main .computerContainer .textContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    transform: translate(-30%, 0);
  }
  .main .computerContainer .textContainer .text {
    margin-bottom: 10%;
    text-align: left;
  }
  .main .devicesImage {
    width: 100%;
  }
  .main .devicesImage img {
    margin: 10% 0 0 0;
    width: 100%;
  }
  .main .infoImages {
    display: flex;
    justify-content: space-around;
  }
  .main .infoImages .infoBlock {
    width: 30%;
  }
}
.main .iosButton {
  background-color: #26baa4;
  height: 50px;
  border-radius: 30px;
  box-shadow: 0 3px 0 lightgray;
  margin: 10% 0 5% 0;
}
.main .iosButton a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
}
@media screen and (min-width: 700px) {
  .main .iosButton {
    margin: 0;
    width: 225px;
    font-size: 90%;
  }
}
.main .macButton {
  display: flex;
  flex-direction: column;
  background-color: #6173ff;
  height: 50px;
  border-radius: 30px;
  box-shadow: 0 3px 0 lightgray;
  margin: 5% 0 5% 0;
}
.main .macButton a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
}
@media screen and (min-width: 700px) {
  .main .macButton {
    margin: 0;
    width: 225px;
    font-size: 90%;
  }
}
.main .infoBlock {
  margin-top: 50px;
}
.main .infoBlock h2 {
  margin: 0 0 15px 0;
}
.main .infoBlock p {
  margin: 0;
}

.imageList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 100px 0;
}
.imageList img {
  margin: 30px 0 30px 0;
  width: 125px;
}
@media screen and (min-width: 700px) {
  .imageList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.footerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerLogo img {
  display: block;
  width: 50px;
  margin: 50px 0 30px 0;
}
@media screen and (min-width: 700px) {
  .footerLogo {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  .footerLogo img {
    margin: 0;
  }
}

.ending {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.ending a {
  display: block;
  font-family: "Bai Jamjuree", sans-serif;
  text-decoration: none;
  color: #4c545d;
  margin: 10px 0 10px 0;
}
@media screen and (min-width: 700px) {
  .ending {
    display: flex;
    align-items: center;
    text-align: left;
    flex-grow: 2;
  }
  .ending .endingLinks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    width: 100%;
  }
  .ending a:hover {
    color: #26baa4;
  }
}

.social {
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 0;
}
.social img {
  display: block;
  margin: 0 20px 0 20px;
}
@media screen and (min-width: 700px) {
  .social {
    flex-grow: 1;
  }
}

footer {
  margin: 100px 0 0 0;
  width: 100%;
  background-color: whitesmoke;
}

@media screen and (min-width: 700px) {
  .footer {
    display: flex;
    align-items: center;
    height: 200px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 0;
  padding-bottom: 2%;
}

.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=styles.css.map */
